<div class="col m-3 text-center" >
<h1>Add list</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
